body{
  background-color: #F8F1E4;
}

.html, div, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, .row, .col, div, a, .container-fluid{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  
}

.title{
  width: 100%;
  color: #231e32;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-top: 40px;
}

.about{
  width: 100%;  
  color: #fd5459;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.cards{
  height: auto;
  padding-left:90px;
  padding-right:90px;
  padding-top:40px;
}

.card{
  height: auto;
  padding: 30px;
  float:left;
  background-color: transparent;
  border:none;
}

.contentContainer{
 height: 550px;
  background-color: #231e32;
  border-radius: 20px;
  padding: 30px;
  box-shadow:
  0 1.3px 1.9px -10px rgba(0, 0, 0, 0.027),
  0 3.1px 4.3px -10px rgba(0, 0, 0, 0.031),
  0 5.5px 7.7px -10px rgba(0, 0, 0, 0.031),
  0 9.2px 12.8px -10px rgba(0, 0, 0, 0.033),
  0 15.1px 21.2px -10px rgba(0, 0, 0, 0.039),
  0 26.4px 37px -10px rgba(0, 0, 0, 0.058),
  0 57px 80px -10px rgba(0, 0, 0, 0.16)
;
}

.activeValue{
  color: #6dccb0;
}

.card h1{
  font-size: 30px;
  width: 100%;
  color: #F8F1E4;
  text-align: center;
  font-weight: bold;
}

.card h2{
  font-size: 15px;
  width: 100%;
  color: #F8F1E4;
  text-align: center;
  margin-top: 15px;
}

.card h3{
  font-size: 12px;
  width: 100%;
  color: #fd5459;
  text-align: center;
  margin-top: 15px;
}
